@media (max-width: 991px)
	.container
		max-width: 720px
	.benefits
		&__items
			width: 30%
	.consultations
		padding-top: 60px
	.catalog
			&__content
				justify-content: space-around
	.carousel
		&__inner
			width: 700px
		.tns-item
			img
				max-width: 450px
	.prev
		left: -20px
	.next
		right: -20px
@media (max-width: 767px)
	.container
		max-width: 540px
	.header
		&__logo
			max-width: 200px
		&__phone
			font-size: 17px
	.promo
		padding-bottom: 60px
		&__wrapper
			margin-top: 70px
			align-items: center
		&__icon
			font-size: 17px
			img
				width: 50px
		&__link
			margin-top: 30px
	.botton
		margin-top: 85px
	.benefits
		padding: 50px 0 45px 0
	.consultations
		padding-top: 60px
		&__descr
			font-size: 24px
			margin-top: 60px
	.prev, .next
		display: none
	.carousel
		.tns-item
			img
				max-width: 500px
	.catalog	
		&__content
			justify-content: space-around
		&-item
			width: 40%
			padding: 10px
			min-height: 400px
			margin-bottom: 15px
			&__list
				&_active
					padding-right: 10px
					padding-left: 10px
			&__subscr
				margin-bottom: 10px
				font-size: 13px
				line-height: 20px
			&__content
				margin-right: 5px
				// &_active
			&__price
				font-size: 18px
				
	.button
		&_mini
			width: 120px
	.feedback
		&-item
			margin-bottom: 40px
			&__photo
				display: block
				margin-right: 30px
				width: 150px

@media (max-width:  575px)
	.container
		max-width: 300px
	.header
		flex-direction: column
		&__phone
			font-size: 16px
	.promo
		&__header
			text-align: center
			font-size: 35px
		&__subheader
			text-align: center
			font-size: 20px
		&__wrapper
			margin-top: 30px
		&__icons
			margin-top: 0
			flex-direction: column
			width: 300px
		&__icon
			margin-top: 30px
	.title
		font-size: 23px
		&_left
			font-size: 20px
			text-align: center

	.benefits
		&__wrapper
			flex-direction: column
			margin-top: 30px
		&__items
			width: 100%
			text-align: center
		&__subheader
			margin-top: 25px
	.consultations
		padding-top: 60px
		&__descr
			text-align: center
			font-size: 19px
			margin-top: 60px
	.carousel
		.tns-item
			img
				max-width: 300px
	.prev, .next
		display: none
	.catalog
		&__tabs
			flex-direction: column
			align-items: center
		&__tab
			margin-bottom: 20px
		&__content
			justify-content: center
		&-item
			width: 303px
	.feedback
		&-item
			flex-direction: column
			margin-bottom: 20px
			padding-bottom: 15px
			&__photo
				display: block
				margin-right: 0
				margin: 0 auto
			&__text
				text-align: center
				margin-top: 20px
	.footer
		&__info
			width: 100%
			height: 200px
		&__map
			width: 100%
			height: 300px
		&__address
			margin-top: 30px
			margin-bottom: 20px
			font-size: 18px
		&__phone
			&:hover
				text-decoration: none
		&__social
			margin-top: 20px
	.modal
		width: 70vw
		min-height: 70vh
		min-height: 280px
		padding: 15px 10px 15px 10px
		&__subtitle
			font-size: 14px
		&__close
			font-size: 25px
			right: 8px
			line-height: 25px
	.feed-form
		&_mini
			width: 65vw
			margin-top: 5px
			margin-bottom: 10px
			align-items: center
			input
				padding: 0 5px
				width: 100%
				height: 40px
				margin-bottom: 10px
		.button
			width: 100%
			height: 40px
			font-size: 10px
			margin: 0 auto
		label.error
			font-size: 10px
			margin-bottom: 10px